.nav .navbar-nav {
    font-size: 15px
}

.navbar {
    background-color: #2891BA
}

.navbar a:hover, a:active, a:visited {
    background-color: #197BB1 !important
}

.navbar .dropdown-menu {
    background-color: #2891BA 
}

.btn {
    background-color: #2891BA
}

.btn:active {
    background-color: #197BB1
}

#searchForm {
    margin-right: 100px
}

@media (max-width: 1200px) {
    #searchForm {
        display: none
    }
}