p {
    margin: 0px
}

h2 {
    margin-top: 0px
}

.well p {
    color: #bbb
}

.thumbnail {
    min-height: 230px;
    background-color: #2891BA
}

.green {
    color: #04DB3E !important
}

.bold {
    font-weight: bold
}