<div [routerLink]='["/events", event.id]' class='card h-100'>
    <div class='card-body'>
        <h2 class='card-title'>{{ event?.name | uppercase }}</h2>
        <p>Date: {{ event?.date | date:'shortDate' }}</p>
        <p [ngSwitch]='event?.time' [ngClass]='getStartTimeClass()'>
            Time: {{ event?.time }} 
            <span *ngSwitchCase='"8:00 am"'>(Early Start)</span>
            <span *ngSwitchCase='"10:00 am"'>(Late Start)</span>
            <span *ngSwitchDefault>(Normal Start)</span>
        </p>
        <p>Price: {{ event?.price | currency:'USD' }}</p>
        <p>Location: {{ event?.location.address }} {{ event?.location.city }}, {{ event?.location.country }}</p>
    </div>
</div> 