<div>
    <h1 class='my-4'>Edit Your Profile </h1>
    <div class="col-md-4">
        <form autocomplete="off" novalidate>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input id="firstName" type="text" class="form-control" placeholder="First Name..." />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input id="lastName" type="text" class="form-control" placeholder="Last Name..." />
            </div>
            <button type='submit' class='btn btn-primary' style='background-color: #F3D250;'>Save</button>
            <button type='button' class='btn btn-secondary ml-1'>Cancel</button>
        </form>
    </div>
</div>